CMakePresets.json
.vscode/
.vs/
build/
CMakeFiles/
CMakeCache.txt
docs/
out/

CMakeSettings.json
code_craft.exe
code_craft.ilk
code_craft.pdb
debug.txt
result.txt

.idea/
*.sln
cmake_install.cmake
code_craft
install_manifest.txt
Makefile
supermanbo.zip
test.sh